body {
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden
}

#messages-container {
    position:absolute;
    top:52px;           /*Set based on the header height.*/
    bottom:68px;        /*Set based on the bottom div height.*/
    left:0px;
    right:0px;
    overflow:auto;
}

#bottom-container {
    position:absolute;
    bottom:0px;
    /* height:60px; */
    left:0px;
    right:0px;
    overflow:hidden;
}

#bottom-container-text-input {
        display: flex;
}

#center-content {
    flex:auto; /* Lets middle column shrink/grow to available width */
    
    /* Make the text area scrollable to the right/left with the scrollbars hidden.*/
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}

#left-content,
#right-content {
    flex:none; /* Forces side columns to stay same width */
}

/* MODAL STYLES
-------------------------------*/
modal {
  /* modals are hidden by default */

  display: none;
}
.levelOne {
  /* modal container fixed across whole screen */

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* z-index must be higher than .levelOne-background */

  z-index: 1000;
  /* enables scrolling for tall modals */

  overflow: auto;
}
modal .levelOne .modal-body {
  padding: 20px;
  background: #fff;
  /* margin exposes part of the modal background */

  margin: 40px;
}
modal .modal-background {
  /* modal background fixed across whole screen */

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* semi-transparent black  */

  background-color: #000;
  opacity: 0.75;
  /* z-index must be below .levelOne and above everything else  */

  z-index: 900;
}
body.modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */

  overflow: hidden;
}