<div>
    <div id="main-container">
        <div id="messages-container">
            <div ng-repeat="message in firebaseData" ng-init="$last && finishedRenderingData()">
                <span>{{message.email}} </span>
                <span>{{message.timestamp | date: 'dd. MM. yyyy, H:mm'}}: </span>
                <span ng-bind-html="message.value"></span>
                <a ng-href="{{message.downloadFileURL}}" ng-show="message.downloadFileURL">Uploaded file</a>
            </div>
        </div>
        
        <div id="bottom-container">
            <div>
                <a href ng-click="richtext('bold')">Bold</a>
                <a href ng-click="richtext('italic')">Italic</a>
                <a href ng-click="richtext('underline')">Underline</a>
                <a href ng-click="richtext('monospace')">Monospace</a>
                <a href ng-click="richtext('defaultfont')">Default font</a> <!--Set in the "body {}" in the style.css file.-->

                <a href ng-click="openModal('custom-modal-2')">{{uploadFileButton}}</a>
            </div>

            <!--TODO: Handle enter key press-->
            <div>
                <form class="form-inline" id="bottom-container-text-input" ng-submit="sendMessage()" > <!--action="/action_page.php"-->
                    <div class="btn btn-default" id="left-content" ng-click="openModal('custom-modal-1')">{{email}}</div>
                    <div class="form-control mycontenteditable" id="center-content" contenteditable></div>
                    <button type="submit" class="btn btn-default" id="right-content">Send</button>
                </form>
            </div>
        </div>
    
    </div>
    
    <modal id="custom-modal-1">
        <!--TODO: For some reason, the class of the next div can't be named "modal", idk why.-->
        <div class="levelOne">
            <form class="modal-body" ng-submit="closeModal('custom-modal-1');">

                <!--Everything inside the modal-body can be changed and the modal will work the same.-->
                <h1>Change email address</h1>
                <p>
                    The new email address:
                    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" ng-model="email">
                </p>
                <button type="submit" class="btn btn-default">Close</button>

            </form>
        </div>
        <div class="modal-background"></div>
    </modal>
    
    <modal id="custom-modal-2">
        <!--TODO: For some reason, the class of the next div can't be named "modal", idk why.-->
        <div class="levelOne">
            <form class="modal-body" ng-submit="uploadFile('custom-modal-2')">

                <!--Everything inside the modal-body can be changed and the modal will work the same.-->
                <h1>Upload the file!</h1>
                <p>
                    <input type="file" id="upload-file">
                </p>
                <button type="submit" class="btn btn-default">Nahraj soubor!</button>
                <span>{{uploadStatus}}</span>

            </form>
        </div>
        <div class="modal-background"></div>
    </modal>
</div>