<div>
    <div id="main-container">
        <div id="messages-container">
            <div ng-repeat="message in firebaseData" ng-init="$last && finishedRenderingData()">
                <span>{{message.email}} </span>
                <span>{{message.timestamp | date: 'dd. MM. yyyy, H:mm'}}: </span>
                <span ng-bind-html="message.value"></span>
                <a ng-href="{{message.downloadFileURL}}" ng-show="message.downloadFileURL">Uploaded file</a>
                
                <div ng-show="message.downloadImageURL">
                    <a ng-href="{{message.downloadImageURL}}">
                        <img ng-src="{{message.downloadImageURL}}" style="max-width:500px; border: 1px solid #0000001c;" />
                    </a>
                </div>
                <div ng-show="message.youtubeVideoURL">
                    <iframe width="560" height="315" ng-src="{{trustSrc(message.youtubeVideoURL)}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        
        <div id="bottom-container">
            <div>
                <a href ng-click="richtext('bold')">Bold</a>
                <a href ng-click="richtext('italic')">Italic</a>
                <a href ng-click="richtext('underline')">Underline</a>
                <a href ng-click="richtext('monospace')">Monospace</a>
                <a href ng-click="richtext('defaultfont')">Default font</a> <!--Set in the "body {}" in the style.css file.-->

                <a href ng-click="openModal('custom-modal-2')">{{uploadImageButton}}</a>
                <a href ng-click="openModal('custom-modal-3')">{{uploadFileButton}}</a>
                <a href ng-click="openModal('custom-modal-4')">{{addYoutubeVideoButton}}</a>
                <a href ng-click="openModal('custom-modal-5')">Add emoji</a>
                <a href ng-click="openModal('custom-modal-6')">Export data</a>
            </div>

            <!--TODO: Handle enter key press-->
            <div>
                <form class="form-inline" id="bottom-container-text-input" ng-submit="sendMessage()" > <!--action="/action_page.php"-->
                    <div class="btn btn-default" id="left-content" ng-click="openModal('custom-modal-1')">{{email}}</div>
                    <div class="form-control mycontenteditable" id="center-content" contenteditable></div>
                    <button type="submit" class="btn btn-default" id="right-content">Send</button>
                </form>
            </div>
        </div>
    
    </div>
    
    <modal id="custom-modal-1">
        <!--TODO: For some reason, the class of the next div can't be named "modal", idk why.-->
        <div class="levelOne">
            <form class="modal-body" ng-submit="closeModal('custom-modal-1');">

                <!--Everything inside the modal-body can be changed and the modal will work the same.-->
                <h1>Change email address</h1>
                <p>
                    The new email address:
                    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" ng-model="email">
                </p>
                <button type="submit" class="btn btn-default">Close</button>

            </form>
        </div>
        <div class="modal-background"></div>
    </modal>
    
    <modal id="custom-modal-2">
        <!--TODO: For some reason, the class of the next div can't be named "modal", idk why.-->
        <div class="levelOne">
            <form class="modal-body" ng-submit="uploadImage('custom-modal-2')">

                <!--Everything inside the modal-body can be changed and the modal will work the same.-->
                <h1>Upload the image from URL!</h1>
                <p>
                    <input type="url" id="upload-image" ng-model="uploadImageURL">
                </p>
                <button type="submit" class="btn btn-default">Upload image!</button>
                <span>{{uploadImageStatus}}</span>

            </form>
        </div>
        <div class="modal-background"></div>
    </modal>
    
    <modal id="custom-modal-3">
        <!--TODO: For some reason, the class of the next div can't be named "modal", idk why.-->
        <div class="levelOne">
            <form class="modal-body" ng-submit="uploadFile('custom-modal-3')">

                <!--Everything inside the modal-body can be changed and the modal will work the same.-->
                <h1>Upload the file!</h1>
                <p>
                    <input type="file" id="upload-file">
                </p>
                <button type="submit" class="btn btn-default">Nahraj soubor!</button>
                <span>{{uploadFileStatus}}</span>

            </form>
        </div>
        <div class="modal-background"></div>
    </modal>
    
    <modal id="custom-modal-4">
        <!--TODO: For some reason, the class of the next div can't be named "modal", idk why.-->
        <div class="levelOne">
            <form class="modal-body" ng-submit="addYoutubeVideo('custom-modal-4')">

                <!--Everything inside the modal-body can be changed and the modal will work the same.-->
                <h1>Add the Youtube vieo!</h1>
                <p>
                    <input type="url" id="add-youtube-video" ng-model="youtubeVideoURL">
                </p>
                <button type="submit" class="btn btn-default">Add the Youtube video!</button>

            </form>
        </div>
        <div class="modal-background"></div>
    </modal>
    
    <modal id="custom-modal-5">
        <!--TODO: For some reason, the class of the next div can't be named "modal", idk why.-->
        <div class="levelOne">
            <form class="modal-body">

                <!--Everything inside the modal-body can be changed and the modal will work the same.-->
                <h1>Choose emoji!</h1>
                <button type="submit" class="btn btn-default" ng-repeat="emoji in emojis"  ng-click="addEmoji('custom-modal-5', emoji)">
                    {{emoji}}
                </button>
            </form>
        </div>
        <div class="modal-background"></div>
    </modal>
    
    <modal id="custom-modal-6">
        <!--TODO: For some reason, the class of the next div can't be named "modal", idk why.-->
        <div class="levelOne">
            <form class="modal-body" ng-submit="exportData('custom-modal-6')">

                <!--Everything inside the modal-body can be changed and the modal will work the same.-->
                <h1>Export data!</h1>
                <button type="submit" class="btn btn-default">Export data!</button>
            </form>
        </div>
        <div class="modal-background"></div>
    </modal>
</div>